# Bus times project
A basic analysis of the arrival and departure times of buses on the 401 route in Galway city.

## Background
The 401 bus route in Galway city has a reputation for being unreliable, with arrival times sometimes half an hour longer than scheduled. I have chosen this as a basic Data Analysis project to report.
## Variables
 - The buses are scheduled to arrive at a stop every 20 minutes starting on the hour. I have chosen to represent this as a standard Normal Distribution with a standard deviation of 15 minutes or quarter of one hour.
 - Passengers at each stop are modelled to arrive according to the Poisson Distribution with an average of 5.
 - Whether the bus is old or new is modelled as a Binomial Distribution with probability of 0.5.
 - The categorical variable of the experience of the drivers as Experienced or Unexperienced.

## Some code

In [5]:
# Choose the starting point of the analysis as 1st September, 2018, with buses running every 20 minutes or 0.3 H 
# Choose a standard deviation of 15 minutes or 0.25 H
# 100 data points are required

# import the packages

import pandas as pd
import numpy as np

In [24]:
rng = pd.date_range('1/7/2018', periods = 100, freq = '0.3H')

In [25]:
rng

DatetimeIndex(['2018-01-07 00:00:00', '2018-01-07 00:18:00',
               '2018-01-07 00:36:00', '2018-01-07 00:54:00',
               '2018-01-07 01:12:00', '2018-01-07 01:30:00',
               '2018-01-07 01:48:00', '2018-01-07 02:06:00',
               '2018-01-07 02:24:00', '2018-01-07 02:42:00',
               '2018-01-07 03:00:00', '2018-01-07 03:18:00',
               '2018-01-07 03:36:00', '2018-01-07 03:54:00',
               '2018-01-07 04:12:00', '2018-01-07 04:30:00',
               '2018-01-07 04:48:00', '2018-01-07 05:06:00',
               '2018-01-07 05:24:00', '2018-01-07 05:42:00',
               '2018-01-07 06:00:00', '2018-01-07 06:18:00',
               '2018-01-07 06:36:00', '2018-01-07 06:54:00',
               '2018-01-07 07:12:00', '2018-01-07 07:30:00',
               '2018-01-07 07:48:00', '2018-01-07 08:06:00',
               '2018-01-07 08:24:00', '2018-01-07 08:42:00',
               '2018-01-07 09:00:00', '2018-01-07 09:18:00',
               '2018-01-07 09:36:00', '2018-01-07 09:54:00',
               '2018-01-07 10:12:00', '2018-01-07 10:30:00',
               '2018-01-07 10:48:00', '2018-01-07 11:06:00',
               '2018-01-07 11:24:00', '2018-01-07 11:42:00',
               '2018-01-07 12:00:00', '2018-01-07 12:18:00',
               '2018-01-07 12:36:00', '2018-01-07 12:54:00',
               '2018-01-07 13:12:00', '2018-01-07 13:30:00',
               '2018-01-07 13:48:00', '2018-01-07 14:06:00',
               '2018-01-07 14:24:00', '2018-01-07 14:42:00',
               '2018-01-07 15:00:00', '2018-01-07 15:18:00',
               '2018-01-07 15:36:00', '2018-01-07 15:54:00',
               '2018-01-07 16:12:00', '2018-01-07 16:30:00',
               '2018-01-07 16:48:00', '2018-01-07 17:06:00',
               '2018-01-07 17:24:00', '2018-01-07 17:42:00',
               '2018-01-07 18:00:00', '2018-01-07 18:18:00',
               '2018-01-07 18:36:00', '2018-01-07 18:54:00',
               '2018-01-07 19:12:00', '2018-01-07 19:30:00',
               '2018-01-07 19:48:00', '2018-01-07 20:06:00',
               '2018-01-07 20:24:00', '2018-01-07 20:42:00',
               '2018-01-07 21:00:00', '2018-01-07 21:18:00',
               '2018-01-07 21:36:00', '2018-01-07 21:54:00',
               '2018-01-07 22:12:00', '2018-01-07 22:30:00',
               '2018-01-07 22:48:00', '2018-01-07 23:06:00',
               '2018-01-07 23:24:00', '2018-01-07 23:42:00',
               '2018-01-08 00:00:00', '2018-01-08 00:18:00',
               '2018-01-08 00:36:00', '2018-01-08 00:54:00',
               '2018-01-08 01:12:00', '2018-01-08 01:30:00',
               '2018-01-08 01:48:00', '2018-01-08 02:06:00',
               '2018-01-08 02:24:00', '2018-01-08 02:42:00',
               '2018-01-08 03:00:00', '2018-01-08 03:18:00',
               '2018-01-08 03:36:00', '2018-01-08 03:54:00',
               '2018-01-08 04:12:00', '2018-01-08 04:30:00',
               '2018-01-08 04:48:00', '2018-01-08 05:06:00',
               '2018-01-08 05:24:00', '2018-01-08 05:42:00'],
              dtype='datetime64[ns]', freq='18T')

## Table
A table is generated showing average bus arrivals, with standard deviation of 15 minutes. Average passengers at each stop. Whether bus is old or new. A method of assigning a categorical variable of Experienced/Unexperienced driver is sought.

In [46]:
ts = pd.DataFrame(np.random.normal(3,0.25,len(rng)), index=rng, columns=["Buses"])

In [38]:
ts

                        Buses
2018-01-07 00:00:00  3.152347
2018-01-07 00:18:00  3.091456
2018-01-07 00:36:00  3.519285
2018-01-07 00:54:00  3.062930
2018-01-07 01:12:00  3.040520
2018-01-07 01:30:00  2.518914
2018-01-07 01:48:00  3.595138
2018-01-07 02:06:00  3.011155
2018-01-07 02:24:00  3.141787
2018-01-07 02:42:00  3.365883
2018-01-07 03:00:00  2.661792
2018-01-07 03:18:00  2.844211
2018-01-07 03:36:00  2.699542
2018-01-07 03:54:00  3.175862
2018-01-07 04:12:00  2.593205
2018-01-07 04:30:00  3.085707
2018-01-07 04:48:00  2.849330
2018-01-07 05:06:00  2.902486
2018-01-07 05:24:00  3.174981
2018-01-07 05:42:00  2.873778
2018-01-07 06:00:00  3.252135
2018-01-07 06:18:00  2.742031
2018-01-07 06:36:00  2.938662
2018-01-07 06:54:00  2.847539
2018-01-07 07:12:00  3.213894
2018-01-07 07:30:00  2.627016
2018-01-07 07:48:00  3.286125
2018-01-07 08:06:00  2.994713
2018-01-07 08:24:00  3.101568
2018-01-07 08:42:00  3.398213
...                       ...
2018-01-07 21:00:00  2.899301
2018-01-07 21:18:00  3.014897
2018-01-07 21:36:00  2.598966
2018-01-07 21:54:00  2.657961
2018-01-07 22:12:00  2.848595
2018-01-07 22:30:00  3.017267
2018-01-07 22:48:00  3.400898
2018-01-07 23:06:00  2.747492
2018-01-07 23:24:00  3.402864
2018-01-07 23:42:00  3.447524
2018-01-08 00:00:00  2.967793
2018-01-08 00:18:00  2.457919
2018-01-08 00:36:00  3.476236
2018-01-08 00:54:00  3.015498
2018-01-08 01:12:00  2.806902
2018-01-08 01:30:00  2.951975
2018-01-08 01:48:00  3.142270
2018-01-08 02:06:00  2.716208
2018-01-08 02:24:00  3.086695
2018-01-08 02:42:00  3.384577
2018-01-08 03:00:00  3.137583
2018-01-08 03:18:00  3.001662
2018-01-08 03:36:00  3.021327
2018-01-08 03:54:00  2.884612
2018-01-08 04:12:00  3.146279
2018-01-08 04:30:00  3.103129
2018-01-08 04:48:00  3.297785
2018-01-08 05:06:00  3.289781
2018-01-08 05:24:00  3.058306
2018-01-08 05:42:00  3.100171

[100 rows x 1 columns]

In [40]:
ts = pd.DataFrame(np.random.poisson(5,len(rng)), columns=["Passengers"])

In [41]:
ts

    Passengers
0            4
1            4
2            6
3            3
4            3
5            6
6            4
7            6
8            5
9            7
10           3
11           7
12           6
13           7
14           4
15           4
16           5
17           3
18           5
19           7
20           9
21           6
22           3
23           7
24           7
25           1
26           3
27           1
28           5
29           4
..         ...
70           4
71           2
72           5
73           8
74           5
75           1
76           5
77           6
78           7
79           9
80           6
81           3
82           4
83           2
84           5
85           2
86           3
87           8
88           2
89           6
90           6
91          12
92           6
93           5
94           6
95           4
96           8
97           4
98           6
99           5

[100 rows x 1 columns]

In [47]:
# If Column variable = 1, Bus is Old, if Column variable = 0, Bus is deemed New

In [48]:
ts = pd.DataFrame(np.random.binomial(1,0.5,len(rng)), columns=["Old/New"])

In [49]:
ts

    Old/New
0         1
1         1
2         1
3         1
4         1
5         0
6         0
7         1
8         1
9         0
10        1
11        1
12        1
13        0
14        0
15        0
16        1
17        1
18        1
19        0
20        1
21        1
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
..      ...
70        1
71        1
72        1
73        1
74        0
75        0
76        0
77        0
78        0
79        1
80        1
81        1
82        0
83        0
84        0
85        0
86        0
87        1
88        1
89        1
90        0
91        0
92        0
93        1
94        0
95        0
96        0
97        1
98        0
99        0

[100 rows x 1 columns]

## Comment
 - The random variables produced for Buses is Normally Distributed and needs further investigation. It is meant to read the **times** the buses arrive not a floating value for the Bus.
 - The variable for Passengers is Poisson Distributed and shows the average number of passengers embarking at each stop over 100 stops in the period.
 - Old/New buses are given as either variable 1 or 0.
 - A way of assigning a categorical variable for Experienced/Inexperienced drivers is being sought.